@import url(./_email/popup__span_email.css);
@import url(./_name/popup__span_name.css);
@import url(./_password/popup__span_password.css);

.popup__span{
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;



  color: #FF0000;
}