.results-container__image{
  position: absolute;
  width: 100%;
  object-fit: cover;


  z-index: 0;
  border-radius: 16px 16px 0px 0px;
}

@media (min-width : 767px) {
  .results-container__image{
    height: 272px;

  }
}

@media (min-width : 374px) and (max-width : 767px) {
  .results-container__image{
    height: 224px;

  }
}

@media (max-width : 374px) {
  .results-container__image{
    height: 196px;

  }
}