.copyright {
  color: rgba(182, 188, 191, 1);

  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
  text-decoration: none;

  padding: 0px;
  align-self: center;
}



@media (min-width : 1439px) {

}

@media (min-width : 1279px) and (max-width : 1439px) {

}

@media (min-width : 1023px) and (max-width : 1279px) {

}

@media (min-width : 767px) and (max-width : 1023px) {
}

@media (min-width : 374px) and (max-width : 767px) {

}

@media (min-width : 319px) and (max-width : 374px) {

}

@media (max-width : 330px) {
  .copyright {
    font-size: 16px;
    line-height: 24px;
  }
}