.form_lead{
  display: grid;

  grid-template-columns: 73% 27%;
  grid-template-rows: max-content;

  max-width: 608px;
  /* left: 416px;
  top: 432px; */
  border-radius: 100px;

  background: rgba(255, 255, 255, 1);

  margin: 64px 0px 60px;

}


@media (min-width : 374px) and (max-width : 767px) {
  .form_lead{
    margin: 48px 0px 48px;
  }
}

@media (max-width : 374px) {
  .form_lead{
    background: none;

    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 16px;

    margin: 122px 0px 32px;
  }
}
