.results-container__span_delete-news{
    font-family: Roboto;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: center;

    transition: 0.5s;
    opacity: 0;
  }

  .results-container__checkbox:checked ~ .results-container__checkbox-label:hover + .results-container__span_delete-news{
    opacity: 1;
  }
