.results-container__image-container{
  display: grid;
  grid-template-columns: auto min-content min-content ;
  grid-column-gap: 5px;

  background-image: url(../../../images/card-image_3.png);
  z-index:-3;
  background-size: cover;
  background-position: center;
  max-width: 400px;
  width: 100%;
  border-radius: 16px 16px 0px 0px;

  box-sizing: border-box;

}

@media (min-width : 767px) {
  .results-container__image-container{
    height: 272px;
  }
}

@media (min-width : 374px) and (max-width : 767px) {
  .results-container__image-container{
    height: 224px;
  }
}

@media (max-width : 374px) {
  .results-container__image-container{
    height: 196px;
  }
}