.saved-news-header__menu-item_main{
  display: grid;
  justify-content: center;
  align-content: center;
  height: 80px;
  border-bottom: 3px solid #fff;
  padding-top: 3px;
  box-sizing: border-box;
}



@media (min-width : 1439px) {

}

@media (min-width : 1279px) and (max-width : 1439px) {

}

@media (min-width : 1023px) and (max-width : 1279px) {

}

@media (min-width : 767px) and (max-width : 1023px) {
}

@media (max-width : 767px) {
  .saved-news-header__menu-item_main{
    display: none;
  }
}
/*
@media (min-width : 319px) and (max-width : 374px) {

}

@media (max-width : 319px) {

} */