@import url(./_type-email/popup__input_type-email.css);
@import url(./_type-password/popup__input_type-password.css);
@import url(./_type-name/popup__input_type-name.css);

.popup__input {
  width: 100%;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  box-sizing: border-box;

  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  outline: none
}

.popup__input:last-of-type {
  margin-bottom: 0;
}
